<%- include('../partials/adminheader.ejs') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">


<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<style>
    body {
        background-color: rgb(152, 180, 152);
        height: 100vh;
    }
    .btn{
        width: 5rem;
    }
</style>


<div style="margin-left: 5%;margin-right: 5%;">
    
    <div style="background-color: #76ac93">
    
    <h1 class="text text-center pt-2" style="font-weight: bold;">Users List</h1>
    
    <div  style="text-align: center;display: flex; justify-content: flex-end;text-align: center;">
    
    
    

    </div><br>
    <div class="col-lg-8">
        <form action="/admin/users-list" method="get" class="d-flex justify-content-center mb-4 mt-4">
          <input type="text" name="search" id="" placeholder="search users ..." class="form-control" style="border-radius: 8px;" value="<%= searchQuery %>">
          <button type="submit" class="btn btn-primary ms-3">Search</button>
        </form> 
        </div>  
    <div class="container">
    <table class="table table-success table-striped" border="1" style="background-color: #76ac93">
        <thead>
            <tr>
                <!-- <th style="width: 20rem;">ID</th> -->
                <th style="width: 15rem;">Name</th>
                <th>Email</th>
                <th style="width: 15%;">Mobile</th>
                <th style="width: 10rem;">Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(users => { %>
                <tr>
                    <!-- <td><%= users._id %></td> -->
                    <td><%= users.name %></td>
                    <td><%= users.email %></td>
                    <td><%= users.mobile %></td>
                    <td id="status_<%= users._id %>">
                        <!-- Displaying user status -->
                        <% if (users.blocked) { %>
                            Blocked
                        <% } else { %>
                            Active
                        <% } %>
                    </td>

                    <td>
                        <% if (users.blocked) { %>
                            <button class="btn " id="blockButton_<%= users._id %>" onclick="unblockUser('<%= users._id %>')" style="background-color: green !important;" >Unblock</button>
                        <% } else { %>
                            <button class="btn " id="blockButton_<%= users._id %>" onclick="blockUser('<%= users._id %>')" style="background-color: red !important;">Block</button>
                        <% } %>
                    </td>
                   
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
    </div>
    </div>
    </section>
    <br>

    <div class="d-flex justify-content-center">
        <% if (totalPages > 1) { %>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <% if (currentPage > 1) { %>
                        <li class="page-item">
                            <a class="page-link" href="/admin/users-list?page=<%= currentPage - 1 %>&search=<%= searchQuery %>" style="background-color: #76ac93;color: black;">Previous</a>
                        </li>
                    <% } %>
                    
                    <% for(let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                            <a class="page-link" href="/admin/users-list?page=<%= i %>&search=<%= searchQuery %>" style="background-color: #76ac93;color: black;"><%= i %></a>
                        </li>
                    <% } %>
                    
                    <% if (currentPage < totalPages) { %>
                        <li class="page-item">
                            <a class="page-link" href="/admin/users-list?page=<%= currentPage + 1 %>&search=<%= searchQuery %>" style="background-color: #76ac93;color: black;">Next</a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        <% } %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>





<script>
    async function blockUser(userId) {
        try {
            const response = await axios.put(`/admin/users-list/${userId}/block`);

            const statusCell = document.getElementById(`status_${userId}`);
            statusCell.textContent = 'Blocked';

            const button = document.getElementById(`blockButton_${userId}`);
            button.innerText = 'Unblock'; 
            button.style.backgroundColor = 'green'
            button.style.color = 'white'
            button.setAttribute('onclick', `unblockUser('${userId}')`); 
        } catch (error) {
            console.error('Error blocking user:', error);
            
        }
    }

    async function unblockUser(userId) {
        try {
            const response = await axios.put(`/admin/users-list/${userId}/unblock`);

            const statusCell = document.getElementById(`status_${userId}`);
            statusCell.textContent = 'Active';

            const button = document.getElementById(`blockButton_${userId}`);
            button.innerText = 'Block'; // Change button text
            button.style.backgroundColor = 'red'
            button.style.color = 'white'
            button.setAttribute('onclick', `blockUser('${userId}')`); 
        } catch (error) {
            console.error('Error unblocking user:', error);
        }
    }
</script>


</body>
</html>