<%- include('../partials/otherhead') %>

<div
  id="notification-container"
  style="position: fixed; top: 10px; right: 10px; z-index: 9999"
></div>

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 150px"
  >
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Product Details</h1>
  </div>
</div>
<!-- Page Header End -->
<div class="d-inline-flex" style="margin-left: 5%">
  <p class="m-0"><a href="/home">Home</a></p>
  <p class="m-0 px-2">></p>
  <p class="m-0"><a href="/shop">Shop</a></p>
  <p class="m-0 px-2">></p>
  <p class="m-0"><%= product.name %></p>
</div>

<!-- Shop Detail Start -->
<div class="container-fluid py-5">
  <div class="row px-xl-5">
    <!-- <div class="col-lg-5 pb-5"> -->
    <div class="col-lg-4 flex-shrink-0">
      <div
        class="main_product_img zoom-container text-center"
        style="
          border: 3px solid lightblue;
          width: 300px;
          height: 300px;
          margin-left: 13%;
        "
      >
        <img
          id="mainImage"
          src="<%= product.images[0] %>"
          alt="<%= product.name %>"
          class="img-fluid"
        />
      </div>
      <div class="product_thumbnails text-center mt-3">
        <% product.images.forEach(function(image, index) { %>
        <img
          class="thumbnail_img"
          src="<%= image %>"
          alt="<%= product.name %>"
          data-index="<%= index %>"
          class="img-thumbnail"
          style="width: 100px; cursor: pointer; margin: 5px"
        />
        <% }); %>
      </div>
    </div>
    <!-- </div> -->

    <div class="col-lg-7 pb-5">
      <h3 class="font-weight-semi-bold"><%= product.name %></h3>
      <div class="d-flex mb-3">
        <div class="text-primary mr-2">
          <!-- <small class="far fa-star"></small>
                        <small class="far fa-star"></small>
                        <small class="far fa-star"></small>
                        <small class="far fa-star"></small>
                        <small class="far fa-star"></small> -->
          <!-- <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star-half-alt"></small>
                        <small class="far fa-star"></small> -->
        </div>
        <!-- <small class="pt-1">(0 Reviews)</small> -->
      </div>
      <!-- <h3 class="font-weight-semi-bold mb-4"><%= product.price %></h3> -->
      <% if (product.discountedPrice < product.actualPrice) { %>
      <h3 class="font-weight-normal mb-4">
        <span
          style="text-decoration: line-through; color: red; font-size: medium"
          >₹ <%= product.actualPrice.toFixed(2) %></span
        ><br />
        <span style="color: green"
          >₹ <%= product.discountedPrice.toFixed(2) %></span
        >
      </h3>
      <% } else { %>
      <h3 class="font-weight-normal mb-4">
        ₹ <%= product.actualPrice.toFixed(2) %>
      </h3>
      <% } %>
      <p class="mb-4"><%= product.description %></p>

      <% if(product.quantity >1) { %>
      <p class="mb-4" style="color: green; font-size: larger; font-weight: 600">
        In Stock
      </p>
      <% }else {%>
      <p class="mb-4" style="color: red; font-size: larger; font-weight: 600">
        Out of Stock
      </p>
      <% } %>

      <div class="d-flex align-items-center mb-4 pt-2">
        <% if (product.quantity > 0) { %>
        <button
          class="btn btn-primary px-3 add-to-cart"
          data-product-id="<%= product._id %>"
        >
          <i class="fa fa-shopping-cart mr-1"></i> Add To Cart
        </button>
        <% } else { %>
        <button class="btn btn-sm text-muted p-0" disabled>
          <i class="fas fa-shopping-cart text-primary mr-1"></i>Out of Stock
        </button>
        <% } %>
      </div>
    </div>
  </div>
  <div class="row px-xl-5">
    <div class="col">
      <div class="nav nav-tabs justify-content-center border-secondary mb-4">
        <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3"
          >Reviews (0)</a
        >
      </div>
      <div class="tab-content">
        <div class="tab-pane fade" id="tab-pane-3">
          <div class="row">
            <div class="col-md-6">
              <div class="col-md-6">
                <h4 class="mb-4">Leave a review</h4>
                <small
                  >Your email address will not be published. Required fields are
                  marked *</small
                >
                <div class="d-flex my-3">
                  <p class="mb-0 mr-2">Your Rating * :</p>
                  <div class="text-primary">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>
                <form>
                  <div class="form-group">
                    <label for="message">Your Review *</label>
                    <textarea
                      id="message"
                      cols="30"
                      rows="5"
                      class="form-control"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="name">Your Name *</label>
                    <input type="text" class="form-control" id="name" />
                  </div>
                  <div class="form-group">
                    <label for="email">Your Email *</label>
                    <input type="email" class="form-control" id="email" />
                  </div>
                  <div class="form-group mb-0">
                    <input
                      type="submit"
                      value="Leave Your Review"
                      class="btn btn-primary px-3"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Shop Detail End -->

  <!-- Products Start -->
  <div class="container-fluid py-5">
    <div class="text-center mb-4">
      <h2 class="section-title px-5">
        <span class="px-2">You May Also Like</span>
      </h2>
    </div>
    <div class="row px-xl-5">
      <div class="col">
        <div class="related-carousel d-flex overflow-auto">
          <% products.forEach(product => { %>
          <div class="card product-item border-0 flex-shrink-0">
            <div
              class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
            >
              <img
                class="img-fluid w-100"
                src="<%= product.images[0] %>"
                alt="<%= product.name %>"
              />
            </div>
            <div
              class="card-body border-left border-right text-center p-0 pt-4 pb-3"
            >
              <h6 class="text-truncate mb-3"><%= product.name %></h6>
              <div class="d-flex justify-content-center">
                <h6>₹ <%= product.price %></h6>
                <% if (product.discountedPrice) { %>
                <h6 class="text-muted ml-2">
                  <del>₹ <%= product.discountedPrice %></del>
                </h6>
                <% } %>
              </div>
            </div>
            <div
              class="card-footer d-flex justify-content-between bg-light border"
            >
              <a
                href="/product/<%= product._id %>"
                class="btn btn-sm text-dark p-0"
              >
                <i class="fas fa-eye text-primary mr-1"></i>View Detail
              </a>
              <a
                href="/add-to-cart"
                class="btn btn-sm text-dark p-0 add-to-cart"
                data-product-id="<%= product._id %>"
              >
                <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To
                Cart
              </a>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>

  <!-- Products End -->
  <script src="/myjsscript/addToCart.js"></script>

  <%- include('../partials/proddetailsfoot') %>
</div>
