<%- include('../partials/otherhead') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <!-- Sidebar for Categories -->
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex flex-column align-items-center justify-content-center bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <% if(user) { %>
                    <p style="margin-bottom: 0;font-size: smaller; color: black;text-transform: capitalize">Hello,</p>
                    <h6 class="m-0" style="font-weight: bolder;;"> <%= user.name %> </h6>
                  </a>
        <% } %>
            <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical" >
                <div class="navbar-nav w-100 overflow-hidden" style="height: 410px;background-color: rgb(236 226 226)">
                    <div class="nav-item dropdown" >
                        <a href="#" class="nav-link" data-toggle="dropdown">Account Settings <i class="fa fa-angle-down float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                            <a href="/profile-details" class="dropdown-item">Profile Information</a>
                            <a href="/manage-address" class="dropdown-item">Manage Addresses</a>
                            <a href="/change-password" class="dropdown-item">Change Password</a>
                            <!-- <a href="" class="dropdown-item">Baby's Dresses</a> -->
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">Orders <i class="fa fa-angle-down float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                            <a href="/view-orders" class="dropdown-item">View Orders</a>
                            <!-- <a href="" class="dropdown-item">Women's Dresses</a>
                            <a href="" class="dropdown-item">Baby's Dresses</a> -->
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                         <a href="#" class="nav-link" data-toggle="dropdown">Wallet <i class="fa fa-angle-down float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                            <a href="/wallet" class="dropdown-item">Wallet</a>
                            <!-- <a href="" class="dropdown-item">Women's Dresses</a>
                            <a href="" class="dropdown-item">Baby's Dresses</a> -->
                        </div> 
                    </div>
                </div>
            </nav>
        </div>

        <% if(success.length >0){ %>
            <div
                class="flash-message" id="flash-success"> <%= success %>
            </div>
            <% } %>
            <% if (error.length > 0) { %>
                <div class="flash-message" id="flash-error"><%= error %></div>
              <% } %>
        


              <div class="col-lg-9">
                <div class="form-container">
                    <h2 class="text-center">Your Wallet</h2>
                    <div id="displayInfo">
                        <p style="text-align: end; color: black !important;">
                            <strong>Balance:</strong> 
                            <span style="color: green; font-weight: bold;">₹ <%= user.wallet %></span>
                        </p>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <% if(user.wallet){ %>
                        <tbody>
                            <% transactions.forEach(transaction => { %>
                                <tr>
                                    <td><%= transaction.date %></td>
                                    <td>₹ <%= transaction.amount %></td>
                                    <td><%= transaction.type %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                        <% } %>
                    </table>
                </div>
            </div>
            
</div>
</div>
</div>



<script src="/myjsscript/userDetailsUpdate.js"></script>




<style>
    .form-container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<script>
    setTimeout(()=>{
        const flashMessages = document.querySelectorAll('.flash-message')
        flashMessages.forEach(message=>{
                message.remove()
            })
    },5000)
</script>

</body>
</html>

<%- include('../partials/proddetailsfoot') %>
